<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="/main.css" type="text/css"/>

</head>

<% if (!user_id) {%>
  <a href="/register">Register Now</a>
  <a href="/login">Already registered? Login Here</a>


<% } else { %>



  <h2>Welcome, You login as  username.email  </h2>

  <br>
  <form action="/logout" method="POST">
  <input type="submit" name="logout" value="logout">
  </form>

<% } %>
