<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="/main.css" type="text/css"/>
  </head>
  <body>
    <h1>Please Log In</h1>
    <form action="/login" method="post">
      <p>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="youremail@example.com" style="width: 150px">
      </p>
      <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="your password here" style="width: 150px">
      </p>
      <p>
        <button type='submit'>Log In</button>
      </p>
    </form>
    <p>No Account?  <a href="/register">Register Now</a></p>
    
  </body>
</html>
