<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
  <h1><b>ShortURL: <a href="/u/<%= shortURL %>">http://u/<%= shortURL %></a></b></h1>
          <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Update">
          </form>
  <h2><a href="/urls">URL home Page</a></h2>
</body>
</html>
