<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
  <h1> List of the URLs and shortened forms</h1>
  <ol>
    <li>
      <a href="/urls">URL home Page</a>
    </li>
    <li>
      <a href="/urls/new">add new URL address</a>
    </li>
  <p><%= templateVars %></p>
  </ol>
</body>
</html>
