<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
    <p> List of the URLs and shortened forms</p>
    <ul>
      <li>https://www.lighthouselabs.ca/<a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a></li>
      <li>https://www.lighthouselabs.ca/<a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a></li>
      <li>https://www.lighthouselabs.ca/<a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a></li>
    </ul>
</body>
</html>
