<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>

  <h1>This is the Page been redirected to shortURL</h1>
  <ol>
    <li>
      <a href="/urls">URL home Page</a>
    </li>
    <li>
      <a href="/urls/new">add new URL address</a>
    </li>
  </ol>

</body>
</html>