<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
  <ul>
    <li>
      <a href="/urls">URL home Page</a>
    </li>
    <li>
      <a href="/urls/new">add new URL address</a>
    </li>
  </ul>
  <ol>
    <% for (var key in urls) { %>
      <% if (urls.hasOwnProperty(key)) { %>
        <li>
          <a href="/u/<%= key %>"><%= key %></a> ---> <%= urls[key]%>
          <form action="/urls/<%= key %>" method="POST" style="margin:150px;">
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Update">
          </form>
          <br>
        </li>
      <% } %>
    <% } %>
  </ol>
</body>
</html>